*,
html {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	height: 200vh;
}

h2 {
	text-align: center;
	font-size: 2.5em;
}

ul {
	background: lightblue;
	position: relative;
}

li {
	background: darkred;
	padding: 1em;
	margin: 1em;
	font-size: 2em;
	color: white;
	list-style-type: none;
}

ul li:nth-child(3) {
	background: black;
	position: fixed;
	top: 0;
	margin: 0;
	left: 1em;
}